<p id="notice"><%= notice %></p>

<%= link_to 'New', new_phrase_path %>
<%= link_to 'Random', @random_phrase %>

<br><br>

<table>
  <thead>
    <tr>
      <th>English</th>
      <th>Pinyin</th>
      <th>Simplified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= phrase.english %></td>
        <td><%= phrase.pinyin %></td>
        <td><%= phrase.simplified %></td>
        <td><%= link_to 'Show', phrase %></td>
        <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
        <td><%#= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
