<p id="notice"><%= notice %></p>

<div class="english_phrase">
  <p>
    <strong>English:</strong>
    <%= @phrase.english %>
  </p>
</div>

<div class="chinese_translation">
  <p>
    <strong>Pinyin:</strong>
    <%= @phrase.pinyin %>
  </p>

  <p>
    <strong>Simplified:</strong>
    <%= @phrase.simplified %>
  </p>
</div>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %> |
<%= link_to 'Random Phrase', @random_phrase %>
